$white: #ffffff;
$dark-white: #F7F7F7;
$black: #000;
$theme-color: #F89724;
$light-bg: #FCF1F5;
$light-black: #171717;
$blue: #0084D4;
$sky-blue: #20C1EA;
$red: #b61924;
$theme-red: #ee6e73;
$green: #26A69E;
$light-red: #E2687E;
$light-green: #49C8D1;
$slick-arrow: #E6E7E8;
$box-border: #E6E7E8;
$twitter-blue: #1B95E0;
// font family

$main-font: 'Work Sans', sans-serif;

$headings : h1 h2 h3 h4 h5 h6;


@each $heading in $headings {
    #{$heading} {
        // font-family: "Gotham bold";
        letter-spacing: 0.05rem;
    }
}

body {
    color: $black;
    font-size: 16px;
    line-height: 1.5;
    font-family: $main-font;
    // overflow-x: hidden;
    letter-spacing: 0.05rem;
     transition: 0.3s ease-out;
     overflow-x: hidden;
     max-width: 100%;
     width: 100%;
     overscroll-behavior: none;

    &.body-overflow-hidden {
        overflow: hidden;
    }
    @media (min-width: 991px) {
        padding-top: 0 !important;
    }
}

img {
    max-width: 100%;
    height: auto;
}

a {
    transition: all 0.5s;

    &:hover {
        text-decoration: none;
    }
}

.container {
    max-width: calc(1200px + 30px);
}

.inner-container {
    max-width: 1170px;
    margin: 0 auto;
}

h1 {
    @include font-size(40px);
}

h2 {
    @include font-size(36px);
    font-weight: 700;
}

.pt-0 {
    padding-top: 0 !important;
}

.btn {
    @include border-radius (0);
    white-space: normal;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.section {
    padding: 50px 0;
}
p {
    font-weight: 300;
}
