.banner {
    position: relative;
    height: 100vh;
    // background-image: linear-gradient(45deg, #ff88bf 0%, #ffc9a0 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    #particles-js {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.8;
        // background: linear-gradient(to top, #27a69f 0%, #fff 80%);
        background: #fff;
        z-index: 20;
    }
}


.slider-wrapper {

    // text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    flex-direction: column;
    h1 {
        font-size: 55px;
        color: #666;
        // color: #fff;
        font-weight: 300;
        @include breakpoint (xs) {
            font-size: 30px;
        }
        span {
            &.primary-color {
                color: $theme-red;
            }
            &.secondary-color {
                color: $green;
            }
        }
    }
    h2 {
        line-height: 1;
        a {
            color: #666;
            font-weight: 400;
            letter-spacing: 0;
            font-size: 28px;
             @include breakpoint (xs) {
                 font-size: 18px;
             }
            &:hover {
                color: $green;
            }
        }
    }
}

.slider {
    height: 50px;
    padding-left: 15px;
    overflow: hidden;
}

.slider div {
    color: #fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    font-weight: 900;

}

.slider-text1 {
    // background: lightgreen;
    animation: slide 5s linear infinite;
}

.slider-text2 {
    // background: skyblue;
}

.slider-text3 {
    // background: lightcoral;
}

@keyframes slide {
    0% {
        margin-top: -300px;
    }

    5% {
        margin-top: -200px;
    }

    33% {
        margin-top: -200px;
    }

    38% {
        margin-top: -100px;
    }

    66% {
        margin-top: -100px;
    }

    71% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: $white;
}

/* ---- stats.js ---- */
.count-particles {
    background: #fff;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}
.companyName {
    font-weight: 900;
    padding-left: 5px;
    display: inline-block;
    @include breakpoint (xs) {
        display: block;
    }
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}
.banner {
    position: fixed;
    position: relative;
    // height: 100%;
    height: 100vh;
    height: calc(100vh - 150px);
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    // z-index: -1;
    @include breakpoint (xs) {
        text-align: center;
        padding: 0 20px;
    }
}
.section {
    position: relative;
    z-index: 10;
}


// wave
.waves {
    // position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    // height: 15vh;
    // margin-bottom: -8px;
    min-height: 100px;
    max-height: 150px;
}

.wave-animation {
    position: relative;
    // height: 150px;
    text-align: center;
    bottom: -1px;
    background-color: $white;
    @include breakpoint (xs) {
        // height: 100px;
    }
}

/* Animation */

.parallax>use {
    -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}

@-webkit-keyframes move-forever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(85px, 0, 0);
        transform: translate3d(85px, 0, 0);
    }
}

@keyframes move-forever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(85px, 0, 0);
        transform: translate3d(85px, 0, 0);
    }
}
