#sectionPin {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
    background: #fafafa;
    border-top: 1px solid #eee;
    z-index: 50;
}

.pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //  padding: 50px 10vw;
    @include breakpoint (sm1) {
        // height: auto;
    }
}


.content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 13rem);
    position: relative;
    justify-content: flex-start;
    @include breakpoint (sm1) {
        // height: auto;
    }
}


@media screen and (min-width: 53em) {
    .content {
        height: 100vh;
        justify-content: center;
    }
}



html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    white-space: nowrap;
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}

.c-scrollbar_thumb {
    width: 3px;
}

.wrapper {
    overflow: hidden !important;
}

.gallery {
    display: flex;
    margin-left: 12vw;
    padding-right: 12vw;

    @include breakpoint (sm1) {
        // height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__item {
        margin: 0 3vw;
        display: grid;
        grid-template-areas: '... ...'
            '... gallery-image'
            '... ...';
        grid-template-columns: 8rem 21vmax;
        grid-template-rows: 8rem 28vmax 3rem;

        @include breakpoint (sm1) {
            display: block;
            min-width: 70vw;
        }

        &:nth-child(even) {
            padding-top: 10vh;
        }

        &-img {
            grid-area: gallery-image;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            transform-origin: 50% 100%;
        }

        &-imginner {
            background-size: cover;
            background-position: 50% 0;
            width: 100%;
            height: 100%;
        }

        &-caption {
            grid-area: 1 / 1 / 4 / 3;
            display: grid;
            grid-template-areas: 'gallery-number gallery-title'
                'gallery-link ...'
                'gallery-link gallery-tags';
            grid-template-columns: 8rem auto;
            grid-template-rows: 8rem auto 3rem;

        }

        &-number {
            grid-area: gallery-number;
            font-size: 6rem;
            font-size: clamp(2.5rem, 9vw, 6.5rem);
            justify-self: end;
            padding-right: 2rem;
        }

        &-title {
            grid-area: gallery-title;
            margin: 0;
            font-size: 4rem;
            font-size: clamp(2rem, 5vw, 4rem);
        }
    }
}

.gallery .gallery__item-number,
.gallery .gallery__item-title,
.gallery .gallery__text {
    font-weight: 400;
    font-style: italic;
    align-self: center;
    color: #424242;
}

.gallery .gallery__item-link {
    grid-area: gallery-link;
    align-self: end;
    font-size: 1.5rem;
    text-decoration: underline;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: $light-green;
    color: $white !important;

    &:hover {
        background: $light-red;
    }
}


.gallery .gallery__item-tags {
    grid-area: gallery-tags;
    justify-self: end;
    font-size: 1.5rem;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    cursor: pointer;
    color: $light-red;
}

.gallery .gallery__text {
    font-size: 13vw;
    font-size: 5vw;
    line-height: 0.8;
    // margin: 0 0 0 14vw;
    /* text-transform: lowercase; */
    color: transparent;
    -webkit-text-stroke: 1px #424242;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    display: flex;

    @include breakpoint (sm1) {
        min-width: 70vw;
    }
}

.gallery .gallery__text-inner {
    display: block;
}

#particles-js2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.65;
    z-index: -1;
}

// @include breakpoint (sm1) {
//     #sectionPin {
//         height: 100vh;
//         overflow: hidden;
//         display: flex;
//         left: 0;
//         background: var(--text-color);
//         color: var(--bg-color);
//     }

//     .pin-wrap {
//         height: 100vh;
//         display: flex;
//         justify-content: flex-start;
//         align-items: center;
//         padding: 50px 10vw;

//         .gallery {
//             &>* {
//                 min-width: 60vw;
//                 padding: 0 5vw;
//             }
//         }
//     }
// }
