
.company-info {
    background: #fff;
    background: $green;
    // box-shadow: 0 0 10px rgba($black, 0.1);
    .row {
        align-items: center;
    }
    .left-block {
        p {
            color: $white;
        }
    }
    .right-block {
        @include breakpoint (sm1) {
            margin-top: 30px;
        }
        h2 {
            margin-top: 30px;
            a {
                color: #424242;
                color: $white;
            }
        }
    }
}
.main-title {
    h2 {
        &.color {
            color: $theme-red;
            font-weight: 600;
            span {
                color: $green;
            }
        }
    }
}
