
.navbar {
    &.navbar-fixed {
        position: fixed;
        width: 100%;
        top: -200px;
        left: 0;
        z-index: 1000;
        // top: 30px;
        background: $red;
        @include transition (1s);
        display: none;
        &.visible {
            top: 0;
        }
    }
    .navbar-brand {
        color: $white;
        font-weight: 800;
    }
    .navbar-nav {
        li{
            margin-left: 30px;
            &.nav-item {
                a {
                    &.nav-link {
                        color: $white;
                        text-transform: capitalize;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}
