h1 {
  letter-spacing: 0.05rem;
}

h2 {
  letter-spacing: 0.05rem;
}

h3 {
  letter-spacing: 0.05rem;
}

h4 {
  letter-spacing: 0.05rem;
}

h5 {
  letter-spacing: 0.05rem;
}

h6 {
  letter-spacing: 0.05rem;
}

body {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.05rem;
  transition: 0.3s ease-out;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
}
body.body-overflow-hidden {
  overflow: hidden;
}
@media (min-width: 991px) {
  body {
    padding-top: 0 !important;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  transition: all 0.5s;
}
a:hover {
  text-decoration: none;
}

.container {
  max-width: calc(1200px + 30px);
}

.inner-container {
  max-width: 1170px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-size: calculateRem(40px);
}

h2 {
  font-size: 36px;
  font-size: calculateRem(36px);
  font-weight: 700;
}

.pt-0 {
  padding-top: 0 !important;
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  white-space: normal;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.section {
  padding: 50px 0;
}

p {
  font-weight: 300;
}

.navbar.navbar-fixed {
  position: fixed;
  width: 100%;
  top: -200px;
  left: 0;
  z-index: 1000;
  background: #b61924;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  display: none;
}
.navbar.navbar-fixed.visible {
  top: 0;
}
.navbar .navbar-brand {
  color: #ffffff;
  font-weight: 800;
}
.navbar .navbar-nav li {
  margin-left: 30px;
}
.navbar .navbar-nav li.nav-item a.nav-link {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 300;
}

.prduct {

  height: 100vh;
  display: flex;
}
.banner {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner #particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  background: #fff;
  z-index: 20;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
  flex-direction: column;
}
.slider-wrapper h1 {
  font-size: 55px;
  color: #666;
  font-weight: 300;
}
@media (max-width: 767px) {
  .slider-wrapper h1 {
    font-size: 30px;
  }
}
.slider-wrapper h1 span.primary-color {
  color: #ee6e73;
}
.slider-wrapper h1 span.secondary-color {
  color: #26A69E;
}
.slider-wrapper h2 {
  line-height: 1;
}
.slider-wrapper h2 a {
  color: #666;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 28px;
}
@media (max-width: 767px) {
  .slider-wrapper h2 a {
    font-size: 18px;
  }
}
.slider-wrapper h2 a:hover {
  color: #26A69E;
}

.slider {
  height: 50px;
  padding-left: 15px;
  overflow: hidden;
}

.slider div {
  color: #fff;
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;
  font-weight: 900;
}

.slider-text1 {
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}
/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ---- stats.js ---- */
.count-particles {
  background: #fff;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

.companyName {
  font-weight: 900;
  padding-left: 5px;
  display: inline-block;
}
@media (max-width: 767px) {
  .companyName {
    display: block;
  }
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.banner {
  position: fixed;
  position: relative;
  height: 100vh;
  height: calc(100vh - 150px);
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .banner {
    text-align: center;
    padding: 0 20px;
  }
}

.section {
  position: relative;
  z-index: 10;
}

.waves {
  left: 0px;
  top: 0;
  width: 100%;
  min-height: 100px;
  max-height: 150px;
}

.wave-animation {
  position: relative;
  text-align: center;
  bottom: -1px;
  background-color: #ffffff;
}
/* Animation */
.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
.company-info {
  background: #fff;
  background: #26A69E;
}
.company-info .row {
  align-items: center;
}
.company-info .left-block p {
  color: #ffffff;
}
@media (max-width: 991px) {
  .company-info .right-block {
    margin-top: 30px;
  }
}
.company-info .right-block h2 {
  margin-top: 30px;
}
.company-info .right-block h2 a {
  color: #424242;
  color: #ffffff;
}

.main-title h2.color {
  color: #ee6e73;
  font-weight: 600;
}
.main-title h2.color span {
  color: #26A69E;
}

#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
  background: #fafafa;
  border-top: 1px solid #eee;
  z-index: 50;
}

.pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 13rem);
  position: relative;
  justify-content: flex-start;
}
@media screen and (min-width: 53em) {
  .content {
    height: 100vh;
    justify-content: center;
  }
}
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  white-space: nowrap;
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.c-scrollbar_thumb {
  width: 3px;
}

.wrapper {
  overflow: hidden !important;
}

.gallery {
  display: flex;
  margin-left: 12vw;
  padding-right: 12vw;
}
@media (max-width: 991px) {
  .gallery {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.gallery__item {
  margin: 0 3vw;
  display: grid;
  grid-template-areas: "... ..." "... gallery-image" "... ...";
  grid-template-columns: 8rem 21vmax;
  grid-template-rows: 8rem 28vmax 3rem;
}
@media (max-width: 991px) {
  .gallery__item {
    display: block;
    min-width: 70vw;
  }
}
.gallery__item:nth-child(even) {
  padding-top: 10vh;
}
.gallery__item-img {
  grid-area: gallery-image;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transform-origin: 50% 100%;
}
.gallery__item-imginner {
  background-size: cover;
  background-position: 50% 0;
  width: 100%;
  height: 100%;
}
.gallery__item-caption {
  grid-area: 1/1/4/3;
  display: grid;
  grid-template-areas: "gallery-number gallery-title" "gallery-link ..." "gallery-link gallery-tags";
  grid-template-columns: 8rem auto;
  grid-template-rows: 8rem auto 3rem;
}
.gallery__item-number {
  grid-area: gallery-number;
  font-size: 6rem;
  font-size: clamp(2.5rem, 9vw, 6.5rem);
  justify-self: end;
  padding-right: 2rem;
}
.gallery__item-title {
  grid-area: gallery-title;
  margin: 0;
  font-size: 4rem;
  font-size: clamp(2rem, 5vw, 4rem);
}

.gallery .gallery__item-number,
.gallery .gallery__item-title,
.gallery .gallery__text {
  font-weight: 400;
  font-style: italic;
  align-self: center;
  color: #424242;
}

.gallery .gallery__item-link {
  grid-area: gallery-link;
  align-self: end;
  font-size: 1.5rem;
  text-decoration: underline;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #49C8D1;
  color: #ffffff !important;
}
.gallery .gallery__item-link:hover {
  background: #E2687E;
}

.gallery .gallery__item-tags {
  grid-area: gallery-tags;
  justify-self: end;
  font-size: 1.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  cursor: pointer;
  color: #E2687E;
}

.gallery .gallery__text {
  font-size: 13vw;
  font-size: 5vw;
  line-height: 0.8;
  /* text-transform: lowercase; */
  color: transparent;
  -webkit-text-stroke: 1px #424242;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  display: flex;
}
@media (max-width: 991px) {
  .gallery .gallery__text {
    min-width: 70vw;
  }
}

.gallery .gallery__text-inner {
  display: block;
}

#particles-js2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.65;
  z-index: -1;
}

.main-title h2 {
  font-weight: 300;
  color: #424242;
  margin-bottom: 20px;
}

.company-info .left-block  li {
    color: #ffffff;
}

/*# sourceMappingURL=custom.css.map */
